* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  width: 50%;
  margin: auto;
  margin-top: 50px;
  border-radius: 0.1;
  border: 1px solid black;
}

.text {
  padding: 20px;
}

input {
  width: 50px;
}

button {
  background-color: yellow;
  border: 1px solid black;
  border-radius: 10px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  padding: 10px 20px;
}
